@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p> Saiba mais sobre como <a href="https://docs.microsoft.com/aspnet/core"> criar aplicativos Web com ASP.NET Core </a>.</p>
</div>
