@section scripts {
    <script src="~/js/Geolocalizacao.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
}

<h1> Geolocalizaçâo </h1>
<p>Latitude <span id='latitude'></span></p>
<p>Longitude <span id='longitude'></span></p>
<div id="map" style="height: 400px;"></div>