<div class="text-center">
    <h1> Execicio Inicial </h1>
    <button class="btn btn-danger"> Saiba Mais </button>
    <p> Pode se encontrar a felicidade mesmo nas horas mais sombrias, se a pessoa se lembrar de acender a luz. </p>
    <h6> Harry Potter </h6>

    @{
        string nome = "Grazy";
    }
    <h1> Olá, @nome </h1>
    <p> Hoje é @DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss"). </p>

</div>
